<nav class="navbar navbar-light navbar-dark bg-dark fixed-top">
    <a class="navbar-brand">
        <img src='img/libro.png' width="50" height="50" alt="" loading="lazy">&nbsp;&nbsp;Administrador
        <%- title %>
    </a>
</nav><br><br><br><br>