<%- include('./componets/header.ejs') %>
    <title>
        <%- title %>
    </title>
    </head>

    <body>
        <main>
            <%- include('./componets/navBar.ejs')%>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;">
                    <form method="POST" action="/admin/add-book">
                        <div>
                            <h3>Registro de libros</h3>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label">Nombre del Libro</label>
                                <div name="test" class="col-sm-4">
                                    <input type="text" name="title" class="form-control" placeholder="Eje: Cien Años de soledad">
                                </div>
                                <label for="" class="col-sm-1 col-form-label">Autor</label>
                                <div class="col-sm-4">
                                    <input type="text" name="author" class="form-control" placeholder="Gabriel Garcia Marquez">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-1 col-form-label">Editorial</label>
                                <div class="col-sm-4">
                                    <input type="text" name="editorial" class="form-control" placeholder="Eje: Sudamericana">
                                </div>
                                <label for="" class="col-sm-1 col-form-label">Fecha</label>
                                <div class="col-sm-3">
                                    <input type="date" name="date" class="form-control" placeholder="Eje..">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-1 col-form-label">Costo</label>
                                <div class="col-sm-3">
                                    <input type="text" name="value" class="form-control" id="" placeholder="10000$">
                                </div>
                                <label for="" class="col-sm-1 col-form-label">unidades</label>
                                <div class="col-sm-3">
                                    <input type="number" name="quantity" min="1" pattern="^[0-9]+" class="form-control" id="">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Registrar Libro</button>
                    </form><br>
                </div>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;"><br>
                    <form>
                        <h3>Registro de Usuario</h3>
                        <div class="form-group row">
                            <label for="" class="col-sm-1 col-form-label">Nombre </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="Gabriel">
                            </div>
                            <label for="" class="col-sm-1 col-form-label">Apellido</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="" placeholder="Garcia Marquez">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-1 col-form-label">Cedula</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="" placeholder="10.000.000 Cc">
                            </div>
                            <label for="" class="col-sm-2 col-form-label">Fecha de Registro</label>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" id="" placeholder="Eje..">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-outline-success">Registrar Usuario</button>
                    </form><br>
                </div>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;">
                    <br>
                    <h3>Prestamo de Libros</h3><br>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Cedula Usuario</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="" placeholder="10.000.000 Cc">
                        </div>
                        <label for="" class="col-sm-2 col-form-label">Nombre del Libro</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="" placeholder="Gabriel Garcia Marquez">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Registrar Prestamo</button><br><br>

                </div>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;">
                    <br>
                    <h3>Usuarios Registrados</h3><br>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>

                        </tbody>
                    </table><br>


                </div>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;">
                    <br>
                    <h3>Libros Del Usuario</h3><br>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>

                        </tbody>
                    </table><br>


                </div>
                <div class="container" style="border-bottom: rgba(0, 0, 0, 0.432) solid 1px;">
                    <br>
                    <h3>Libros Registrados</h3><br>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>

                        </tbody>
                    </table><br>


                </div>
        </main>
    </body>

    <%- include('./componets/endHeader.ejs') %>