<%- include('./componets/header.ejs') %>
    <title>
        <%- title %>
    </title>
    </head>

    <body>
        <%- include('./componets/navBar.ejs')%>
            <h1>hola</h1>


            <form method="GET" action="/admin">
                <button>Iniciar admin</button>
            </form>
    </body>

    <%- include('./componets/endHeader.ejs') %>